@import "golbalScroll";
#nprogress .bar{
  background:  linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}
#app {
  height: 100vh;
  overflow: hidden;
}
*{
  box-sizing: border-box;
}

//提示
#tips {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

//table美化
table {
  max-width: 400px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #c6c6c6;
  margin-bottom: 20px;
}
table th {
  border-collapse: collapse;
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  background-color: #ddeeff;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
table td {
  border-collapse: collapse;
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  padding: 5px 9px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  word-break: break-all;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.scroll_bar{
  &::-webkit-scrollbar {
    @include scrollbar;
  }
  &::-webkit-scrollbar-thumb {
    @include scrollbarThumb;
  }
  &::-webkit-scrollbar-track {
    @include scrollbarTrack;
  }
}
