@mixin scrollbar {
  width: 8px;
  height: 8px;
}
@mixin scrollbarThumb {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #c3c3c3;
}
@mixin scrollbarTrack {
  background-color: transparent;
}
