$border_width:4px;
.gradient-border {
  border-width: $border_width;
  position: relative;
  border-radius: $border_width;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: -$border_width;
  left: -$border_width;
  height: calc(100% + #{$border_width*2});
  width: calc(100% +  #{$border_width*2});
  border-radius: $border_width;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -10;
  animation: action 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes action {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


